$black: #000000;
$color-1: #EEEEEE;
$white: #ffffff;

.BG {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1000;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  p, h1, h5, svg {
    color: $black !important;
  }

  .wrapper {
    width: 500px;
    min-height: 100px;
    border-radius: 6px;
    border: 1px solid $color-1;
    background-color: $white;
    padding: 20px;
    box-sizing: border-box;
    cursor: default;

    h5, label {
      font-weight: 300;
      letter-spacing: 2px;
    }
  
    a {
      color: $black;
  
      h5 {
        cursor: pointer;
      }
    }

    label {
      h5 {
        margin-bottom: 10px;
      }
    }
  
    input, textarea {
      width: 100%;
      font-size: 0.9em;
      padding: 5px 10px;
      box-sizing: border-box;
      border-radius: 5px;
      margin-bottom: 20px;
      box-shadow: rgba(120, 120, 120, 1) 0px -2px 0px 0px inset, rgba(120, 120, 120, 1) 0px 0px 1px 0px inset;
      border: 1px solid $color-1;
      resize: vertical;
      min-height: 50px;
      max-height: 200px;
  
      &:hover {
        box-shadow: rgba(70, 70, 70, 1) 0px -2px 0px 0px inset, rgba(70, 70, 70, 1) 0px 0px 1px 0px inset;
      }
    }

    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color-1;
      padding-bottom: 5px;
      margin-bottom: 20px;

      .back {
        cursor: pointer;
      }
    }

    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid $color-1;
      padding-top: 5px;
      margin-top: 20px;
    }

    @media (max-width: 600px) {
      width: 100%;
      border-radius: 0px;
    }
  }
}

.display {
  display: flex;
}