@import "../../../scss/variables";

.photoCard {
  width: 700px;
  min-height: 100px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
  background: $white;
  border: 1px solid $color-1;

  img, h5, p, svg {
    cursor: pointer;
  }

  p {
    font-size: 0.7em;
    color: $color-2;
  }

  .imgWrapper {
    display: flex;
    position: relative;
    width: 75%;
    
    img {
      width: 100%;
      transition: 0.3s;
    }

    svg {
      position: absolute;
      top: 0;
      right: 0;
      margin: 15px 20px;
      opacity: 0;
      color: $white;
      fill: $white;
      transition: 0.3s;
    }

    .heartClicked {
      color: $favourite;
      fill: $favourite;
    }

    &:hover {
      svg {
        opacity: 1;
        transition: 0.3s;
      }
    }

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  .showEdit {
    img {
      opacity: 0.2;
      transition: 0.3s;
    }
  }

  .sidebar {
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: relative;
    border-left: 1px solid $color-1;

    .sidebarWrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .comments {
        width: 100%;
        flex-grow: 1;
        box-sizing: border-box;
        border-top: 1px solid $color-1;
      }

      .postSettings {
        width: 100%;
        display: flex;
      
        .editBtn, .deleteBtn {
          width: 50%;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          border-top: 1px solid $color-1;
          cursor: pointer;
      
          h5 {
            color: $color-3;
          }
      
          &:hover {
            h5 {
              color: $black;
            }
          }
        }
      
        .deleteBtn {
          border-left: 1px solid $color-1;
        }
      }
  
      input {
        height: 30px;
        border: none;
        padding: 5px 10px;
        box-sizing: border-box;
        box-shadow: none;
        border-top: 1px solid $color-1;
        border-radius: 0;
        border-bottom-right-radius: 5px;
        flex-shrink: 0;
      }
    }

    @media (max-width: 900px) {
      max-height: 250px;
      width: 100%;
    }
  }

  @media (max-width: 900px) {
    width: 100%;
    flex-flow: column nowrap;
    border: none;
    border-top: 1px solid $color-1;
    border-bottom: 1px solid $color-1;
    border-radius: 0px;
  }
}

.imgClicked {
  .imgWrapper {
    width: 100vw;
    height: 100vh;
    background: $black;
    position: fixed;
    flex-flow: column nowrap;
    justify-content: center;
    border-radius: 0px;
    border: none;
    top: 0;
    left: 0;
    z-index: 99999;

    img {
      border-radius: 0px !important;
      max-width: 100vw;
      max-height: 100vh;
      object-fit: contain;
    }
  }

  .sidebar {
    display: none;
  }
}

.darkMode {
  border: 1px solid $dm-background;
  background: $black;

  .sidebar {
    background: $black;
    color: $white;

    .comments {
      border-top: 1px solid $dm-background !important;
    }

    .editBtn, .deleteBtn {
      border-top: 1px solid $dm-background !important;

      &:hover {
        h5 {
          color: $color-1 !important;
        }
      }
    }

    .deleteBtn {
      border-left: 1px solid $dm-background !important;
    }

    input {
      border-top: 1px solid $dm-background !important;
      box-shadow: none !important;
    }
  }
}