$black: #000000;

.UploadBtn {
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: $black;

  h5 {
    font-weight: 300;
    letter-spacing: 2px;
    cursor: pointer;
  }

  svg {
    width: 12px !important;
    height: 12px !important;
    margin: 0 0 0 2px !important;
    display: block !important;
  }

  @media (max-width: 370px) {
    h5 {
      display: none;
    }

    svg {
      height: 20px !important;
      width: 20px !important;
    }
  }
}