@import "../../../scss/variables";

.button {
  width: fit-content;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  font-size:inherit;
  letter-spacing:inherit;
  cursor: pointer;

  img, svg, h5 {
    color: $color-3;
    cursor: pointer;
  }

  img, svg {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  &:disabled {
    cursor: default;

    img, svg, h5 {
      color: $disabled;
      cursor: default;
    }

    &:hover {
      h5, svg {
        color: $disabled;
      }
    }
  }

  &:hover {
    h5, svg {
      color: $black;
    }
  }
}