.btnStyle {
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background-color: rgb(255,255,255);
  color: rgba(0, 0, 0, 0.54);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  border: 1px solid transparent;
  height: 43px;

  .textStyle {
    padding: 10px;
    margin: 0;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}