@import '../../../scss/variables';

.favouritesWrapper {
  height: 170px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  background: $white;
  border: 1px solid $color-1;
  border-radius: 6px;
  box-sizing: border-box;
  overflow: hidden;

  .top {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid $color-1;
    padding: 0 20px;

    h5 {
      height: 40px;
      width: fit-content;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &:nth-child(n+2) {
        border-left: 1px solid $color-1;
      }
    }
  }

  .favourites {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
}