$color-1: #EEEEEE;
$color-2: #525252;
$black: #000000;
$white: #ffffff;

.profile-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  align-items: center;

  .profile {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid $color-1;
    background-color: $white;
    margin-bottom: 40px;
    overflow: hidden;

    p {
      color: $color-2;
    }

    .profile-col {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      border-right: 1px solid $color-1;

      .profile-picture {
        width: 80px;
        height: 80px;
        border-radius: 100px;
        background-image: url("https://photoapp118.s3.eu-west-2.amazonaws.com/placeholder");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;
        margin: 0 20px 0 10px;
        transition: 0.3s;
        cursor: pointer;
  
        h2 {
          opacity: 0;
          cursor: pointer;
          transition: 0.3s;
        }
  
        &:hover {
          opacity: 0.5;
          transition: 0.3s;
  
          h2 {
            opacity: 1;
            transition: 0.3s;
          }
        }
      }
  
      .info {
        height: 100%;
        padding: 5px 0 10px;
        box-sizing: border-box;
        flex-grow: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
      }
    }

    textarea {
      width: 50%;
      height: 100%;
      border: none;
      padding: 10px;
      box-sizing: border-box;
      resize: none;
      color: $color-2;
    }
  }
  
  .posts {
    width: 100%;
    min-height: 100px;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid $color-1;
    background-color: $white;
    box-sizing: border-box;
  
    .img-wrapper {
      width: 100px;
      height: 100px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        height: 100%;
      }
    }
  }

  .no-posts {
    justify-content: center;
    align-items: center;
  }
}
