$black: #000000;
$white: #ffffff;
$color-1: #EEEEEE;
$color-2: #525252;
$color-3: #757575;
$color-4: #E0E0E0;
$color-5: #151515;
$background: #f5f5f5;
$dm-background: #0A0A0A;
$dm-color-1: #111111;
$disabled: #CACACA;
$favourite: #F22D2D