@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import "./variables";

h1, h2, h3, h4, h5, h6, p {
  cursor: default;
  margin: 0;
  user-select: none;
}

img {
  user-select: none;
}

h1 {
  letter-spacing: 2px;
  font-size: 1.7em;
  color: $black;
}

h1, h2, h3, h4, label {
  font-weight: 300;
}

h5, h6, p {
  font-weight: 400;
  color: $color-3;
}

h5 {
  letter-spacing: 1.5px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

input, textarea, p {
  font-size: 0.8em;
}

svg {
  width: 18px;
  height: 18px;
  color: $color-3;
  cursor: pointer;

  &:hover {
    color: $black;
  }
}

label {
  width: 100%;
  padding: 0 0 5px 0;
}

input, textarea {
  width: 100%;
  height: 30px;
  min-height: 30px;
  max-height: 200px;
  border: none;
  padding: 5px 10px;
  border: 1px solid $color-1;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px 0px, rgba(0, 0, 0, 0.25) 0px 0px 1px 0px;
  box-sizing: border-box;
  color: $color-3;
  resize: vertical;
  transition: 0.3s;
  font-family: inherit;

  &:hover, &:focus {
    box-shadow: rgba(0, 0, 0, 0.60) 0px 2px 2px 0px, rgba(0, 0, 0, 0.60) 0px 0px 1px 0px;
  }
}

textarea:focus, input:focus, button:focus {
  outline: none;
}

strong {
  cursor: pointer;
  
  &:hover {
    color: $black;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  background: $background;

  #root {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;

    main {
      width: 700px;
      flex-grow: 1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 20px 0;

      @media (max-width: 700px) {
        width: 100%;
      }
    }

    nav {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      position: sticky;
      top: 0;
      background: $white;
      border-bottom: 1px solid $color-1;
      z-index: 10000;

      h1, h5, p, a, svg {
        cursor: pointer;
      }

      a {
        color: $color-2;
        margin-right: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
  
        &:hover, &:active {
          color: $black;
        }
      }
    
      .nav-top {
        width: 900px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    
        .nav-top-right {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          a {
            margin: 0 0 0 15px;

            h5:hover {
              color: $black;
            }
          }

          svg {
            width: 15px;
            height: 15px;
            color: $color-3;
          }
        }

        @media (max-width: 900px) {
          width: 100%;
          padding: 0 15px;
        }
      }
    
      .nav-bottom {
        width: 900px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    
        .nav-bottom-left {
          display: flex;
          justify-content: flex-start;

          p {
            font-size: 0.9em;
          }
        }

        @media (max-width: 900px) {
          width: 100%;
          padding: 0 15px;
        }
      }
    }
    
    footer {
      width: 900px;
      box-sizing: border-box;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      position: relative;
      z-index: 10000;

      @media (max-width: 700px) {
        width: 100%;
        padding: 0 15px;
      }
    }
  }
}

.dark-mode {
  background: $dm-background;

  #root {
    h5, h6 {
      color: $color-4;
    }

    input, textarea {
      background: $black;
      color: $color-4;
      border: 1px solid $color-5;
      box-shadow: 0 2px 3px rgba(224,224,224,0.8), 0 1px 1px rgba(224,224,224,0.8);
    }

    button:hover, strong:hover {
      color: $white;

      h5 {
        color: $white;
      }
    }

    button {
      h5, svg {
        color: $color-4;
      }

      &:disabled {
        img, svg, h5 {
          color: $color-2;
          cursor: default;
        }
    
        &:hover {
          h5, svg {
            color: $color-2;
          }
        }
      }

      &:hover {
        h5, svg {
          color: $white;
        }
      }
    }

    .model {
      background: $black;

      .top {
        border-bottom: 1px solid $color-5;

        a:nth-child(n+2) {
          border-left: 1px solid $color-5;

          &:hover {
            h5 {
              color: $white;
            }
          }
        }
      }
    }

    a {
      h6:hover {
        color: $white;
      }
    }

    nav {
      background: $black;
      border-bottom: 1px solid $dm-color-1;

      p, h1, h5, svg {
        color: $white !important;
      }
    }

    .profile-info {
      p {
        color: $color-1;
      }
    }

    footer {
      color: $white;
    }
  }
}