@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

$color-1: #EEEEEE;
$color-2: #525252;
$black: #000000;
$white: #f1f1f1;
$pure-white: #ffffff;

h1, h2, h3, h4, h5, h6 {
  cursor: default;
  margin: 0;
}

p {
  cursor: default;
  font-size: 0.9em;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;

  #root {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;

    main {
      width: 1000px;
      flex-grow: 1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;

      @media (max-width: 1000px) {
        width: 100%;
      }
    }
  }
}