@import "../../../scss/variables";

.profile { // also used for settings page.
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 20px;

  .profileInfo {
    height: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
  }
}

.sidebar {
  cursor: pointer;

  h5 {
    letter-spacing: 1px;
  }

  .viewProfile {
    opacity: 0;
    position: absolute;
  }

  &:hover {
    h5 {
      opacity: 0;
    }

    .viewProfile {
      opacity: 1;
    }
  }
}