@import "../../../scss/variables";

.profile { // also used for settings page.
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid $color-1;
  background: $white;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px 20px;

  .profileInfo {
    height: 80px;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    h2 {
      letter-spacing: 2px;
    }
  }
}

.sidebar {
  display: flex;
  align-items: center;
  cursor: pointer;

  .profileInfo {
    height: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .viewProfile {
    opacity: 0;
    position: absolute;
  }

  &:hover {
    p {
      opacity: 0;
    }

    .viewProfile {
      opacity: 1;
    }
  }
}