$color-1: #EEEEEE;

.profile { // also used for settings page.
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  .profileInfo {
    height: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
  }
}

.sidebar {
  border-bottom: 1px solid $color-1;
  cursor: pointer;

  .viewProfile {
    opacity: 0;
    position: absolute;
  }

  &:hover {
    h5 {
      opacity: 0;
    }

    .viewProfile {
      opacity: 1;
    }
  }
}